### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
*.iml

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Gradle ###
.gradle/
# Игнорируем всё в build/, кроме готового fat-JAR для быстрой поставки на VPS.
build/*
!build/libs/
build/libs/*
!build/libs/*.jar

### Environment / secrets ###
.env
bot.properties
